
tr:nth-child(even){
    background-color: LightGray;
}


th{
    background-color: black;
    color:bisque;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    padding: 20px;
}

a:visited{
    color:red;
}

a:hover{
    color:bisque;
}

a:link{
    color:crimson;
}

.percentage {
    font-size: 20px;
    font-weight: bold;
    color: Red;
}

.navbar {
  overflow: hidden;
  background-color: maroon;
  font-family: Timew New Roman;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: Gainsboro;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: Red;
}

.dropdown-content a:hover {
  background-color: Gray;
}

.dropdown:hover .dropdown-content {
  display: block;
}
