<!--BEGIN CODE REVIEW-->
{% extends "base.html" %}
{% block title %}Queries{% endblock %}
{% block body %}
    <h2>Student Success Rate (last 10 years)</h2>
    <p>Total Student Success Rate: {{ successful_students }} Successful / {{ total_students }} Total = {{ total_success_rate }}% for Biology students</p>
    <p>Total Postgrad Student Success Rate: {{ postgrad_accepted }} Accepted / {{ postgrad_applications }} Total = {{ postgrad_success_rate }}% for Postgrad students</p>
    <p>Total Healthcare Student Success Rate: {{ healthcare_accepted }} Accepted /  {{ healthcare_applications }} Total = {{ healthcare_success_rate }}% for Healthcare Students</p>

    <hr width="100%" size="5">

    <h1>Student Success Rate by Application Year Range</h1>
    <form action="/query_acceptance_by_year" method="post">
        <label for="start_year">Start Year:</label>
        <input type="text" id="start_year" name="start_year"><br><br>
        <label for="end_year">End Year:</label>
        <input type="text" id="end_year" name="end_year"><br><br>
        <input type="submit" value="Submit">
        <button type="button" onclick="window.location.href='/queries';" class="btn">Back</button>
    </form>
    {% if acceptance_rate_by_year != 'N/A' %}
    <p>Student Success Rate in the specified year({{ start_year }} - {{ end_year }}) range: {{ successful_year_students }} accepted / {{ total_year_students }} total = {{ acceptance_rate_by_year }}%</p>
{% else %}
    <p>{{ message }}</p>
{% endif %}

    <h1 id="school-name-form">Student Success Rate by School Name (last 10 years)</h1>
    <form action="/query_acceptance_by_school_name#school-name-form" method="post">
    <label for="school_name">School name:</label>
    <select id="school_name" name="school_name">
        {% for name in school_names %}
            <option value="{{ name }}">{{ name }}</option>
        {% endfor %}
    </select><br><br>
    <input type="submit" value="Submit">
        <button type="button" onclick="window.location.href='/queries';" class="btn">Back</button>
    </form>
    {% if acceptance_rate_by_school_name != 'N/A' %}
    <p>Student Success Rate for the specified school name ({{ school_name }}): {{ successful_name_students }} accepted / {{ total_name_students }} total = {{ acceptance_rate_by_school_name }}%</p>
{% else %}
    <p>{{ message }}</p>
{% endif %}

    <h1>Success Rate by Program (last 10 years)</h1>
    <form action="/query_acceptance_by_program" method="post">
    <label for="program">Program:</label>
    <select id="program" name="program">
        {% for type in application_types %}
            <option value="{{ type }}">{{ type }}</option>
        {% endfor %}
    </select><br><br>
    <input type="submit" value="Submit">
        <button type="button" onclick="window.location.href='/queries';" class="btn">Back</button>
    </form>
    {% if acceptance_rate_by_program != 'N/A' %}
    <p>Student Success Rate for specified program({{ program }}): {{ successful_students }} accepted / {{ total_students }} total = {{ acceptance_rate_by_program }}%</p>
{% else %}
    <p>{{ message }}</p>
{% endif %}

<h1>Success Rate for Reapplicants (last 10 years)</h1>
<form action="/query_success_rate_reapplicants" method="post">
    <label for="program">Select Program:</label>
    <select id="program_re" name="program">
        {% for program in application_types %}
        <option value="{{ program }}">{{ program }}</option>
        {% endfor %}
    </select>
    <br><br>
    <input type="submit" value="Submit">
    <button type="button" onclick="window.location.href='/queries';" class="btn">Back</button>
</form>
    {% if success_rate_reapplicants != 'N/A' %}
    <p>Reacceptance Rate for the specified Program ({{ program_re }}): {{ success_rate_reapplicants }}%</p>
{% else %}
    <p>{{ message }}</p>
{% endif %}


    <!-- Advanced search -->
    <h2 id="advanced-search">Advanced Search</h2>
    <form id="advanced-search-form" method="post" action="/advanced_search#advanced-search">
        <label for="name">Student Name:</label>
        <input type="text" id="name" name="name">

        <label for="program_search">Program:</label>
        <select id="program_search" name="program_search">
            <option value="">-- Select Program --</option>
            {% for type in application_types %}
                <option value="{{ type }}">{{ type }}</option>
            {% endfor %}
        </select>

        <label for="school_name">School Name:</label>
        <select id="school_name" name="school_name">
            <option value="">-- Select School Name --</option>
            {% for type in school_names %}
                <option value="{{ type }}">{{ type }}</option>
            {% endfor %}
        </select>

        <label for="school_type">School Type:</label>
        <select id="school_type" name="school_type">
            <option value="">-- Select School Type --</option>
            {% for type in school_types %}
                <option value="{{ type }}">{{ type }}</option>
            {% endfor %}
        </select><br><br>

        <button type="submit">Search</button>
        <button type="button" onclick="window.location.href='/queries#advanced-search';" class="btn">Back</button>
    </form>
    <br><br>


    {% if search_results %}
    <h1>Showing Search results for {{ params }}</h1>
<div class="table-wrap">
    <table class="sortable">
        <caption>Search Results</caption>
        <thead>
            <tr>
                <th>
                    <button>Year Applied <span aria-hidden="true"></span></button>
                </th>
                <th>
                    <button>Student Name <span aria-hidden="true"></span></button>
                </th>
                <th>
                    <button>School Type <span aria-hidden="true"></span></button>
                </th>
                <th>
                    <button>School Name <span aria-hidden="true"></span></button>
                </th>
                <th>
                    <button>Program/Degree Path <span aria-hidden="true"></span></button>
                </th>
                <th>
                    <button>Accepted? <span aria-hidden="true"></span></button>
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for application in search_results %}
        <tr>
            <td>{{ application[0] }}</td>
            <td>{{ application[1] }}</td>
            <td>{{ application[2] }}</td>
            <td>{{ application[3] }}</td>
            <td>{{ application[4] }}</td>
            <td>{{ 'Yes' if application[5] else 'No' }}</td>
            <td>
                <a href="{{ url_for('updatestudent', stu_id=application[6]) }}" class="btn">Update</a>
                <a href="{{ url_for('student_profile', stu_id=application[6]) }}" class="btn">Profile</a>
                <button onclick="deleteApplication({{ application[7] }})" class="btn">Delete</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    {% endif %}
<script src="static/sortable-table.js"></script>
{% endblock %}

